<p>
  
  <%= image_tag(@post.picture_url, :width => 600) if @post.picture.present? %>
  </p>
<div class="upload">
 <%= link_to 'Home', posts_path, class:'btn btn-mini btn-primary' %>
 <%= link_to 'Add More', new_post_path, class:'btn btn-mini btn-info' %>
 </div>